 <section class="header">

   <nav class= "nav-bar">
<ul>
    
            <li><a href="SIGNUP">SIGN UP</a></li>
            <li><a href="LOGIN">LOGIN</a></li>
            <li><a href="HOME">HOME</a></li>
    
</ul>
